<div class="d-flex justify-center pb-8 pt-8">
    <img src="imgs/logo.png" alt="Stock - Controle de Estoque" width="100"/>
</div>

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Início</MudNavLink>
    <MudNavLink Href="/produtos">Produtos</MudNavLink>
    <MudNavLink Href="/estoque">Estoque</MudNavLink>
    <MudNavLink Href="/categorias">Categorias</MudNavLink>
    <MudNavLink Href="/logout">Sair</MudNavLink>
</MudNavMenu>