.grid {
    height: 100%;
    width: 70%;
    margin-bottom: 2%;
}

.image-container {
    display: flex;
    align-items: center;
    margin-left: 3%;
}

.product-detail-header {
    display: flex;
    margin-bottom: 5%;
    margin-top: 3%;
    align-items: center;
    justify-content: center;
}

.actions-buttons {
    justify-content: flex-end;
    margin-top: 5%;
}

@media (max-width: 737px) {
    .image-container {
        display: none;
    }
    
    .title {
        display: none;
    }
}

