@page "/login"
@layout HeadlessLayout
@inherits LoginPage

<PageTitle>Stock - Entrar</PageTitle>

<MudGrid Justify="Justify.Center" AlignItems="AlignItems.Center" Style="height: 100vh;">
    <MudItem xs="12" sm="10" md="8" lg="6">
        <MudPaper Class="pa-8" Elevation="5">
            <div class="d-flex justify-center mb-6">
                <MudImage Src="imgs/logo.png" Width="200"></MudImage>
            </div>
            <EditForm Model="@InputModel" OnValidSubmit="OnValidSubmitAsync">
                <DataAnnotationsValidator/>
                <MudTextField
                    T="string"
                    Label="E-mail"
                    HelperText="Campo obrigatório"
                    InputType="InputType.Email"
                    For="@(() => InputModel.Email)"
                    @bind-Value="InputModel.Email"
                    Class="mb-4"/>

                <MudTextField
                    T="string"
                    Label="Senha"
                    HelperText="Campo obrigatório"
                    InputType="InputType.Password"
                    For="@(() => InputModel.Password)"
                    @bind-Value="InputModel.Password"
                    Class="mb-4"/>

                <div class="d-flex mt-8">
                    @if (IsBusy)
                    {
                        <MudProgressCircular Color="Color.Info" Indeterminate="true"/>
                    }
                    else
                    {
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">Entrar</MudButton>
                        <MudSpacer/>
                        <MudButton Href="/register">Quero me cadastrar</MudButton>
                    }
                </div>
            </EditForm>
        </MudPaper>
    </MudItem>
</MudGrid>